#plates-index {

    // Titles
    h1 {
        color: $boo-red;
        cursor: default;
    }


    // Links
    a:not(.btn) {
        color: inherit;

        &:hover:not(&.btn) {
            color: $boo-green;
        }
    }

}
