//#region Navbar + nav-buttons
.navbar {
    background-color: $boo-yellow;

    .navbar-brand {
        color: $boo-red;
        transition: color $boo-short;

        &:hover {
            color: $boo-orange;
        }
    }

}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

//#endregion Navbar

//#region Site Buttons
.boo-btn-orange {
    background-color: $boo-orange;
    color: white;

    &:hover {
        background-color: $boo-orange-hover;
        color: white;
    }
}

.boo-btn-green {
    background-color: $boo-green;
    color: white;

    &:hover {
        background-color: $boo-green-hover;
        color: white;
    }
}

.boo-btn-cyan {
    background-color: $cyan;
    color: white;

    &:hover {
        background-color: $cyan-hover;
        color: white;
    }
}

.btn {
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

//#endregion Site Buttons
